// stylelint-disable rscss/class-format, selector-nested-pattern

@import "styles/mixins";
@import "styles/colors";

$form-left-padding: 24px;
$form-right-padding: 16px;

.core {
  position: relative;
  height: 72px;
  padding: 0;
}

.label {
  position: absolute;
  display: block;
  top: 24px;
  left: 64px;
  font-size: 14px;
  line-height: 22px;
  cursor: text;
  transition:
    font-size 0.3s ease 0s,
    top 0.3s ease 0s;
}

.input {
  @include font(14px, 14px);

  display: block;
  padding: 24px 64px 26px 64px;
  line-height: 22px;
  width: 100%;
  background: inherit;
  resize: none;
  border: none;
  transition: padding 0.3s ease 0s, top 0.3s ease 0s;

  &::placeholder {
    color: $main-black-30;
  }
}

.active {
  > .input {
    padding-top: 34px;
    padding-bottom: 16px;
  }

  > .input::placeholder {
    color: $main-black-40;
  }

  > .label {
    top: 16px;
    font-size: 12px;
    background-color: transparent;
  }
}

.input:focus {
  padding-top: 34px;
  padding-bottom: 16px;

  &::placeholder {
    display: none;
  }

  & + .label {
    top: 16px;
    font-size: 12px;
    background-color: transparent;
  }
}
