// stylelint-disable rscss/class-format, selector-nested-pattern

@import "styles/mixins";
@import "styles/colors";

$form-left-padding: 24px;
$form-right-padding: 16px;

.core {
  position: relative;
}

.wrap {
  cursor: pointer;
  height: 72px;
  padding: 0;
  box-shadow: 0 3px 6px rgba(8, 30, 57, 0.05);
  background-color: $white;

  &:hover {
    box-shadow: 0 9px 18px rgba(8, 30, 57, 0.05);
  }
}

.message {
  margin-bottom: 8px;
}

.field-message {
  padding-left: 16px;
}
