
.core {
  position: relative;
  height: 72px;
  cursor: pointer;
  padding: 8px;
  background-origin: content-box;

  &.hover {
    background-color: $main-black-5;
  }

  &.selected {
    background-color: $main-blue-5;
  }

  &.selected.hover {
    background-color: $main-blue-10;
  }
}
